
.Options {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.OptionLabel {
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.OptionText {
    margin-left: 10px;
    border: none;
    background-color: #373434;
    opacity: 0.7;
    color: white;
    font-size: 17px;
}