.progressVisualFull {
  display: flex;
  height: 15px;
  margin: 20px 0;
  border-radius: 10px;
}


.progressVisualPart {
  border-radius: 10px;
}


.progressLabel {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
