/* InputPINBox.css */

.InputPINBoxDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #232323;;
  border-radius: 5%;
}


.PINForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 360px;
}


.RoomCodeInput {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background: none;
  color: white;
  text-align: left;
}


.ConfirmButton {
  padding: 10px 12px;
  background: #E3AB13;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 25px;
}


.ConfirmButton:hover {
  background-color: #ffbc05;
}


.ConfirmButton:active { transform: translateY(1px); }


.RoomNotFoundErrorMessage {
  color: red;
}