.RoomCodeContainer {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.PendingRoomContainer {
    min-height: 100vh;
    background-color: #38343B;
    display: flex;
    justify-content: center;
}

.JoinerListContainer {
    display: flex;
    justify-content: center;
}

.JoinerList {
    background-color: whitesmoke;
    opacity: 0.5;
    width: 80%; 
    border-radius: 15px;
    border: 1px solid black;
    color: black;
    font-family: 'Roboto', sans-serif;
}


table, th, td {
  text-align: center;
  font-size: 25px;
}


.startButtonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.startRoomButton {
    background-color: #E3AB13;
    font-size: 25px;
    width: 200px;
}


.startRoomButton:hover {
    background-color: #ffbc05;
}