.RoomCodeContainer {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.PendingRoomContainer {
    min-height: 100vh;
    background-color: #38343B;
    display: flex;
    justify-content: center;
}

.JoinerListContainer {
    display: flex;
    justify-content: center;
    /* background-color: whitesmoke; */
}

.JoinerList {
    background-color: whitesmoke;
    opacity: 0.5;
    width: 80%; 
    border-radius: 15px;
    border: 1px solid black;
    color: black;
    font-family: 'Roboto', sans-serif;
}


table, th, td {
  text-align: center;
  font-size: 25px;
}