.ForgotPasswordBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #232323;
    width: 300px;
    border-radius: 5%;
}

.ForgotPasswordForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 400px;
}

.SendCodeButton {
    padding: 10px 12px;
    background: #E3AB13;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 5px;
}

.SendCodeButton:hover {
    background-color: #ffbc05;
}

.HomeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    transition: 0.3s ease-in;
}

.HomeButton:hover {
    background-color: white;
    color: black;
}

.ForgotPasswordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #38343B;
}

.TitleText {
    color: white;
    font-family: "Inika", serif;
}

.loading_icon_animations {
    display: flex;
    justify-content: center;
}

