.NavBar {
    width: 100%;
    height: 150px;
    background-color: #52514F;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.NavBarTitleText {
    font-family: "Inika", serif;
    font-weight: 700;
    font-style: normal;
    margin-left: 20px;
}


.LogOutIcon {
    margin-right: 5px;
}


.UserIconCircle {
    background-color: grey;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    border-radius: 100%;
}

.UserIconImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}