.NavBar {
    width: 100%;
    height: 150px;
    background-color: #52514F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavBarTitleText {
    font-family: Courier, monospace;
    font-weight: 700;
    font-style: normal;
    margin-left: 19px;
}

.LogOutIcon {
    margin-right: 5px;
}

.UserIconCircle {
    background-color: grey;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;    
    border-radius: 100%;
}

.UserIconImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}


.NavBarButtonsContainer {
    display: flex;
    align-items: center;
}


.joinRoomButton {
    color: rgb(223, 220, 220);
    margin-right: 45px;
}


.joinRoomButton:hover {
    color: #ffffff;
    cursor: pointer;
}