.GamePageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100%;
    background-color: #38343B;
}


.CountDownContainer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
}


.ProblemAnswerContainer {
    width: 100%;
}


.ProblemTextSection {
    width: 100%;
    height: 65vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.AnswerOptionContainer {
    background-color: white;
    width: 100%;
    height: 30vh;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}


.ProblemTextContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55%;
    width: 65%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
}


.CaseSensitiveNoti {
    font-family: 'Courier New', Courier, monospace;
}


.OptionsContainer {
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 50% 50%;
    grid-row: auto auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-self: center;
    align-self: center;
}


.OptionADiv {
    background-color: rgb(235, 84, 84);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}


.OptionADiv:hover {
    background-color: rgb(237, 107, 107);
    cursor: pointer;
}


.OptionBDiv {
    background-color: rgb(20, 237, 24);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}


.OptionBDiv:hover {
    background-color: rgb(90, 226, 92);
    cursor: pointer;
}


.OptionCDiv {
    background-color: rgb(232, 185, 18);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}


.OptionCDiv:hover {
    background-color: rgb(230, 196, 71);
    cursor: pointer;
}


.OptionDDiv {
    background-color: rgb(49, 128, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
}



.OptionDDiv:hover {
    background-color: rgb(97, 156, 239);
    cursor: pointer;
}


.ProgressBarContainer {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


.ProgressBarContainer > div {
    width: 95%;
    max-width: 1000px;
}


.BlankFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.InputSubmitContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.BlankAnswerSubmitButton {
    margin-top: 15px;
    width: 150px;
    height: 50px;
    font-family: 'Courier New', Courier, monospace;
}


.CatchUpSpan {
    animation: fadeInOut 5s infinite;
    font-family: 'Courier New', Courier, monospace;
}


@keyframes fadeInOut {
    0%, 100% {
    opacity: 0;
    }
    50% {
    opacity: 1;
    }
}

.RankListOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}

.overlay__buttons {
    display: flex;
    justify-content: center;
}


