.SignUpBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #232323;;
    width: 300px;
    border-radius: 5%;
}

.SignUpForm {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 400px;
}

.SignUpButton {
    padding: 10px 12px;
    background: #E3AB13;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 25px;
    margin-top: 10px;
    cursor: pointer;
}

.SignUpButton:hover {
    background-color: #ffbc05;
}

.SignUpButton:disabled {
    background-color: grey;
    cursor: not-allowed;
}

.SignUpButton:disabled:hover {
    background-color: grey;
}

.HomeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 6px 10px;
    background: white;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
}

.SignUpContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #38343B;
}

.TitleText {
    color: white;
    font-family: "Inika", serif;
}

.confirm_password_form_inputs {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    background: none;
    color: white;
    text-align: left;
}

.DiffPasswordContainer {
    display: flex;
    justify-content: center;
    color: red;
}

button:disabled {
    background-color: grey;
}